.wcac-coupons-list--items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 230px;
    overflow-y: scroll;
}

.wcac-coupons-list--items .wcac-coupon-card--wrapper {
    width: 295px;
    max-width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 6px;
    color: var(--wc-secondary-text);
    font-weight: 600;
    text-align: center;
}

.wcac-coupons-list--items .wcac-coupon-card--label {
    padding: 12px 20px;
    background-color: var(--wc-orange);
    transition: transform .2s;
}

.wcac-coupons-list--items .wcac-coupon-card--wrapper>input {
    display: none;
}

.wcac-coupons-list--items .wcac-coupon-card--label:hover,
.wcac-coupons-list--items .wcac-coupon-card--label:active {
    transform: scale(1.05);
}

.wcac-coupons-list--items .wcac-coupon-card--wrapper input:checked + label {

    background-color: var(--wc-green);
}

.wcac-coupon-card--wrapper > *{
    flex-basis: auto;
    margin: 5px 3px;
}

.wcac-coupon-amount > * {
    display: inline;
    vertical-align: middle;
}

.wcac-coupon-card--wrapper .wcac-coupon-code {
    font-size: 2rem;
    border: 2px dashed;
    padding: 5px;
}

