.wcac-coupons-list-items--wrap {
    overflow-y: scroll;
    position: relative;
}

.wcac-coupons-list--items {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    max-height: 230px;
}

.wcac-coupons-list--items.hidden {
    display: none;
}

.wcac-coupons-list--items .wcac-coupon-card--wrapper {
    width: 295px;
    max-width: 45%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 6px;
    color: var(--wcac-main-text-color);
    font-weight: 600;
    text-align: center;
}

.wcac-coupons-list--items .wcac-coupon-card--label {
    padding: 12px 20px;
    font-size: 12pt;
    background-color: var(--wcac-main-bg-color);
    transition: transform .2s;
}

.wcac-coupons-list--items .wcac-coupon-card--wrapper>input {
    display: none;
}

.wcac-coupons-list--items .wcac-coupon-card--label:hover,
.wcac-coupons-list--items .wcac-coupon-card--label:active {
    transform: scale(1.05);
}

.wcac-coupons-list--items .wcac-coupon-card--wrapper input:checked + label {
    color: var(--wcac-accent-text-color);
    background-color: var(--wcac-accent-color);
}

.wcac-coupon-card--wrapper > *{
    flex-basis: auto;
    margin: 5px 3px;
}

.wcac-coupon-amount > * {
    display: inline;
    vertical-align: middle;
}

.wcac-coupon-card--wrapper .wcac-coupon-code {
    font-size: 2rem;
    border: 2px dashed;
    padding: 5px;
}

#wcac-coupons-list-loader {
    display: none;
}

.wcac-loader--wrap {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: #ebe9ebb0;
}

.wcac-loader {
    display: block;
    position: relative;
    width: 16px;
    height: 16px;
    top: 50%;
    left: 50%;
    background-color: #fff;
    box-shadow: 32px 0 #fff, -32px 0 #fff;
    animation: flash 0.5s ease-out infinite alternate;
}

@keyframes flash {
    0% {
        background-color: #FFF6;
        box-shadow: 32px 0 #FFF6, -32px 0 #fff;
    }
    50% {
        background-color: #fff;
        box-shadow: 32px 0 #FFF6, -32px 0 #FFF6;
    }
    100% {
        background-color: #FFF6;
        box-shadow: 32px 0 #fff, -32px 0 #FFF6;
    }
}

.noscroll {
    overflow: hidden;
}
